<% title("Material", "Admin") %>
<p>
  <%= link_to "Nieuw Materiaal", [:new, :admin, :material],
              class: "new w3-btn w3-purple w3-margin-bottom"%>
<ul>
  <div class="row">
    <div class="col">
      <strong>Materiaal:</strong>
      <% @materials.each do |material| %>
          <li><%= material.sort %></li>
          <li><%= material.name %></li>
          <li><%= material.thickness %></li>

          <%= link_to admin_material_path(material), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"  do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
          <%= link_to edit_admin_material_path(material), class:"btn btn-warning"  do %>
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <% end %>

      <% end %>
    </div>
  </div>
</ul>
</p>
