<% title("Material", "Admin") %>
<p>
<ul>
  <div class="row">
    <div class="col w3-card w3-round-xlarge">
      <div class="w3-margin-left w3-margin-bottom">
        <div class="w3-bottombar w3-border-blue-gray">
        <h1>Materialen:</h1>
      </div>
      <% @materials.each do |material| %>
          <li><%= material.sort %></li>
          <li><%= material.name %></li>
          <li><%= material.thickness %></li>

          <%= link_to admin_material_path(material), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger w3-round-xlarge"  do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
          <%= link_to edit_admin_material_path(material), class:"btn btn-warning w3-round-xlarge"  do %>
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <% end %>
      <% end %>
        <div class="w3-topbar w3-border-blue-gray w3-margin-top">
          <%= link_to "Nieuw Materiaal", [:new, :admin, :material],
                      class: "new w3-btn w3-lime w3-margin-bottom w3-margin-top w3-round-xlarge w3-topbar w3-border-blue-gray w3-hover-blue"%>
        </div>
      </div>
    </div>
  </div>
</ul>
</p>
