<% title("Inschrijving", "Gebruikers") %>
<div class="w3-container w3-margin-top">
	<header>
		<h2 class="w3-center">Inschrijving</h2>
	<header>

	<div class="w3-row">
		<div class="w3-half w3-center" style="margin-left: 25%">
			<%= simple_form_for(resource, as: resource_name, 
																		url: registration_path(resource_name), 
																		html: {multipart: true} ) do |f| %>
				<!-- Input -->
				<%= f.input_field :username, required: true, autofocus: true %>
				<%= f.label :username %>
				<%= f.error :username %>
				<%= f.input_field :adress, required: true, autofocus: true %>
				<%= f.label :adress %>
				<%= f.error :adress %>
				<%= f.input_field :email, required: true, autofocus: true %>
				<%= f.label :email %>
				<%= f.error :email %>
				<%= f.input_field :password, required: true %>
				<%= f.label :password %>
				<%= "minimaal #{@minimum_password_length} karakters" if @minimum_password_length %>
				<%= f.error :password %>
				<%= f.input_field :password_confirmation, required: true %>
				<%= f.label :password_confirmation %>
				<%= f.error :password_confirmation %><br><br><br>
				<!-- Upload: Avatar -->
				<%= f.label :avatar %><br>
				<%= f.file_field :avatar, as: :file %> <br><br><br>   

				<!-- Zenden -->
				<div class="w3-center">
					<%= f.button :submit, "Versturen", class: "w3-btn w3-blue w3-center" %>
				</div>
				
			<% end %>
		</div>
	</div>

	<br><br><br>
	<%= render "devise/shared/links" %>
</div>