<% title(@user.id, "Gebruiker") %>

<div class="w3-row">
	<div class="w3-twothird" style="margin-left: 16.65%">

		<header class="w3-center">
			<h1><%= @user.email %></h1>
			<%= link_to "Bijwerken", 
									[:edit, :admin, @user], 
									class: "edit w3-btn w3-amber" %>
			<%= link_to "Archiveer", 
									[:archive, :admin, @user],
									method: :patch,
									data: { confirm: 'Weet je zeker dat je deze gebruiker wil archiveren?' },
									class: "edit w3-btn w3-red" %>
		</header>

		<% unless @user.avatar.file.nil? %>
			<div class='w3-center w3-margin-top'>
				<img src="<%= @user.avatar.url %>" style="height:300px">
			</div>
		<%end %>
		
		<p> user.bio etc. & user.comments.order(#van recent tot in verleden) </p>
</div>

				
	<% if @fabmoments.any? %>
		<div id="fabmoments" class="w3-row-padding w3-margin-top w3-margin-bottom">
			<header class="w3-container">
				<h2 class="w3-center">Fabmomenten</h2>
			</header>

		  <% @fabmoments.each do |fabmoment| %>
		  	<%= link_to fabmoment do %>
			    <div class="w3-col m3">
				    <div class="w3-card-2 w3-hover-shadow w3-margin-bottom">
				    	<header class="w3-container w3-blue-grey w3-center">
				    		<h4><%= fabmoment.title %></h4>
							</header>
							<div class="w3-container">
							  <p><%= fabmoment.description %></p>
							</div>
						</div>
			  <% end %>
			  </div>
	  <% end %>
	  <% end %>
	</div>