<% title(@user.username, "Gebruiker") %>

<div class="w3-row">
	<!-- Basis Profiel gegevens -->
	<div class="w3-twothird" style="margin-left: 16.65%">

      <div class="container">
        <div class="row">
          <div class="profile-header-container">
            <div class="profile-header-img ">
              <img class="img-circle w3-circle w3-card-8" src="<%= @user.avatar.url %>"  class="img-thumbnail" />
              <!-- badge -->
              <div class="rank-label-container">
                <span class="label label-default rank-label w3-lime w3-card-8 w3-text-white"><%= @user.username %></span>
              </div>
            </div>
          </div>
        </div>
      </div>


  <div class="w3-card w3-padding-12 w3-round-xlarge w3-margin-bottom">
    <div class="w3-padding w3-center">
      <ul type="none">
      <li><h1>Gebruikersnaam: <%= @user.username %></h1></li>
        <li>Naam: <%= @user.firstname %> <%= @user.insertion %> <%= @user.lastname %></li>
        <li>Biografie: <%= @user.biography %></li>
        <li>Email: <%= @user.email %></li>
        <li>Telefoon nummer: <%= @user.telephone %></li>
      <% if policy(@user).show? %>
        <li>Woonplaats: <%= @user.adress %></li>
      <% end %>
        <% if current_user.admin %>
        <li>Administrator: <%= @user.admin? %></li>
      <% end %>
        </ul>
    </div>
  </div>


    <!-- Acties -->
    <% if policy(@user).edit? %>
        <% if current_user.admin %>
            <%= link_to [:edit,:admin,@user],
                        class: "edit w3-btn w3-blue w3-round-large w3-margin-right" do %>Bewerken
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <% end %>
        <% else %>
            <%= link_to [:edit, @user],
                        class: "edit w3-btn w3-amber w3-round-large" do %>
                <i class="fa fa-pencil-square-o" Bewerken aria-hidden="true"></i>
            <% end %>
        <% end %>
    <% end %>

    <% if policy(@user).archive? %>
        <%= link_to [:archive, :admin, @user],
                    method: :patch,
                    data: { confirm: 'Weet je zeker dat je deze gebruiker wil archiveren?' },
                    class: "edit w3-btn w3-red w3-round-large w3-margin-left w3-right" do %>Account Verwijderen
            <i class="fa fa-archive" Archiveren aria-hidden="true"></i>
        <% end %>
    <% end %>


		</header>

		 <!--<p> user.bio etc. & user.comments.order(#van recent tot in verleden) </p>-->
      <% @comments.each do |comment| %>
          <li class="w3-text-pink">
            <%= "#{time_ago_in_words(comment.created_at)} geleden gaf <i>#{@user.username}</i>
							      commentaar op fabmoment <strong>#{comment.fabmoment.title}</strong>".html_safe %>
          </li>
      <% end %>

    <!--<div data-role="main" class="ui-content">-->
  <!--<form method="post" action="/action_page_post.php">-->
    <!--<fieldset data-role="collapsible">-->
      <!--<legend>Commentaar</legend>-->
		<!--<div id="comments">-->
			<!--<h3 class="w3-center">Geleverd commentaar</h3>-->
			<!--<ul class="w3-center">-->

			<!--<ul>-->
		<!--</div>-->
    <!--</fieldset>-->
  <!--</form>-->
<!--</div>-->
    <div class="w3-bottombar w3-border-blue-gray w3-padding-xlarge">
		<h2 class="w3-center w3-lime w3-round-xlarge w3-padding">Fabmomenten</h2>
	</div>
	<!-- (Einde van de twothird kolom.) -->

    <!-- Ter informatie de <div> op lijn 62 zorgt voor verkleint gallerij fabmomenten -->

	<!-- Fabmomenten van de gebruiker -->
            </div>
            </div>

  <footer class="w3-center">
  <%= render "fabmoments/fabmoments_gallery", fabmoments: @fabmoments %>
  </footer>