<% title("Wachtwoordherstel", "Gebruikers") %>
<div class="w3-container w3-margin-top">
	<header>
		<h2 class="w3-center">Wachtwoord vergeten?</h2>
	<header>

	<div class="w3-row">
		<div class="w3-half w3-center" style="margin-left: 25%">
			<%= simple_form_for(resource, as: resource_name, 
																		url: password_path(resource_name), 
																		html: { method: :post }) do |f| %>
				<!-- Input -->
				<%= f.input_field :email, required: true, autofocus: true %>
				<%= f.label :email %>
				<%= f.error :email %><br><br>
				<!-- Zenden -->
	  		<div class="w3-center">
			    <%= f.button :submit, "Verstuur herstel instructies", 
			    							class: "w3-btn w3-blue w3-center" %>
		    </div>

			<% end %>
		</div>
	</div>

	<br><br><br>
	<%= render "devise/shared/links" %>
</div>
