<div class="w3-col m4 w3-margin-top">
  <div class="w3-margin-top w3-padding-xxlarge">
    <%= link_to ' Back', events_path, class:"btn w3-blue w3-round-xlarge fa fa-arrow-left"%>
  </div>
  <div class="w3-card-2 w3-round-xlarge w3-padding-xxlarge w3-margin-left">
<p>
  <strong>Titel:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Beschrijving:</strong>
  <%= @event.description %>
</p>
<p><strong>Machines:</strong>

<% if @event.machines.any? %>


          <% @event.machines.each do |machine| %>
          <%= machine.name %>
          -
          <% end %>
  <% else %>
  Geen Machines.
      <% end %>
      </p>
<p>
  <strong>Start tijd:</strong>
  <%= @event.start_time  %>
</p>

<p>
  <strong>Eind tijd:</strong>
  <%= @event.end_time %>
</p>
  </div>

<div class="w3-margin-top w3-padding-xxlarge">
<%= link_to ' Edit', edit_event_path(@event), class:"btn w3-lime w3-round-xlarge fa fa-pencil"%>
</div>

</div>