<div class="w3-col m4 w3-margin-top">
  <div class="w3-card-2">
<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<p>
<% if @event.machines.any? %>

        <strong>Machines:</strong>
          <% @event.machines.each do |machine| %>
          <%= machine.name %>
          -
          <% end %>
      <% end %>
      </p>
<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>
  </div>

<div class="w3-circle">
<%= link_to 'Edit', edit_event_path(@event), class:"w3-text-black fa fa-pencil-square"%>
</div>
<%= link_to 'Back', events_path, class:"w3-text-black fa fa-arrow-circle-left"%>
</div>