<div class="w3-col m4 w3-margin-top">
  <div class="w3-card-2">
<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<p><strong>Machines:</strong>

<% if @event.machines.any? %>


          <% @event.machines.each do |machine| %>
          <%= machine.name %>
          -
          <% end %>
  <% else %>
  Geen Machines.
      <% end %>
      </p>
<p>
  <strong>Start time:</strong>
  <%= @event.start_time  %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>
  </div>

<div class="w3-margin-bottom">
<%= link_to ' Edit', edit_event_path(@event), class:"btn btn-warning fa fa-pencil-square"%>
</div>
<%= link_to ' Back', events_path, class:"btn btn-success fa fa-arrow-circle-left"%>
</div>