<% title("Admin") %>

<div class="w3-container w3-center w3-border-blue-grey w3-padding-xlarge">
	<header class="w3-center w3-margin-top">
		<h2 class="w3-round-xlarge w3-lime w3-padding w3-margin-bottom">Fablab Zeeland Manager</h2>
		<% if current_user %>
			<ul class="actions w3-ul">
        <li>
							  <%= link_to "Gebruikers", admin_users_path,
								class: "new w3-btn w3-round-xlarge w3-lime w3-margin-bottom"%>
								<%= link_to "Programma's", admin_programs_path,
								class: "new w3-btn w3-round-xlarge w3-lime w3-margin-bottom"%>
								<%= link_to "Machines", admin_machines_path,
								class: "new w3-btn w3-round-xlarge w3-lime w3-margin-bottom"%>
								<%= link_to "Materialen", admin_materials_path,
								class: "new w3-btn w3-round-xlarge w3-lime w3-margin-bottom"%>
                <%= link_to "Evenementen", admin_events_path,
                class: "new w3-btn w3-round-xlarge w3-lime w3-margin-bottom"%>
                <%= link_to "Fabmomenten", admin_fabmoments_path,
                class: "new w3-btn w3-round-xlarge w3-lime w3-margin-bottom"%>
<div class="w3-margin-top">
  <h1>Open inloop.</h1>
  <%= link_to "Settings", admin_fabmanager_setting_path,
              class: "new w3-btn w3-round-xlarge w3-lime w3-margin-bottom"%>
  <div class="w3-container w3-block">
    <div class="w3-card-2 w3-round-xlarge w3-center w3-topbar w3-border-blue-gray">
      <h1 style="font-size: 18px">Uit | Aan</h1>
          <label class="switch">
            <input type="checkbox">
            <div class="slider"></div>
          </label>
    </div>
  </div>
</div>
        </li>
			</ul>
		<% end %>
	</header>
</div>