<div id="fabmoment" class=".col-md-3 w3-row-padding w3-left jumbotron-icon w3-card w3-round-xxlarge w3-margin-top">


      <div class="w3-content w3-display-container">
        <% @fabmoments.where(staff_pick: true).last(5).each do |fabmoment| %>

        <img class="mySlides" src="http://www.jennybeaumont.com/wp-content/uploads/2015/03/placeholder.gif">

        <div class="w3-center w3-display-bottommiddle" style="width:100%">
          <div class="w3-left fa fa-6 fa-caret-left w3-text-lime w3-hover-opacity" onclick="plusDivs(-1)"></div>
          <div class="w3-right fa fa-6 fa-caret-right w3-text-lime w3-hover-opacity" onclick="plusDivs(1)"></div>
          <% @fabmoments.where(staff_pick: true).last(5).size.times do |i| %>
          <span class="w3-badge demo w3-border" onclick="currentDiv(<%= i+1 %>)"></span>
        <% end %>
        </div>


            <div class="w3-display-container mySlides">
              <img src="http://www.jennybeaumont.com/wp-content/uploads/2015/03/placeholder.gif" style="width:100%">
              <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                <%= fabmoment.title %>
              </div>
              <%= fabmoment.description %>
            </div>



            <h1 class="w3-margin-top"><%= fabmoment.title %></h1>
      <p><%= fabmoment.description %></p>
      <%= link_to 'Nieuw Fabmoment', new_fabmoment_path, class:"w3-bar-item w3-button w3-text-white w3-lime w3-round-xlarge w3-margin-bottom" %>

        <% end %>
  </div>
</div>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);
    carousel();

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length} ;
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex-1].style.display = "block";
    }

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > x.length) {slideIndex = 1}
        x[slideIndex-1].style.display = "block";
        setTimeout(carousel, 11111000); // Change image every 2 seconds
    }
</script>