<div class="w3-row-">
    <div class="w3-twothird" style="margin-left: 16.65%">

      <%= simple_form_for @fabmoment do |f| %>
      	
      	<!-- Input -->
        <%= f.input_field :title %>
        <%= f.label :title %>
        <%= f.error :title %>
      	<%= f.input_field :description, rows: 7 %>
        <%= f.label :description %>
        <%= f.error :description %><br><br>
        <div class="w3-center">
          <%= f.label :images %>
          <%= f.file_field :images, multiple: true %><br><br>          
          <%= f.error :images %><br><br>
        </div>


        <div class="w3-row-padding w3-margin-top">
          <!-- Programs card -->
          <div class="w3-col m3">
            <div class="w3-card">
              <h5 class="w3-text-teal w3-center">Programma's</h5>
              <ul class="w3-ul" id="programs">
              <%= f.collection_check_boxes :program_ids, @programs, :id, :name do |b| %>
                <li>
                  <%= b.label class: "w3-small" do %>
                    <%= b.check_box class: "w3-check" %>
                    <%= b.text %>
                  <% end %>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
        <div class="w3-row-padding w3-margin-top">
          <!-- Machines card -->
          <div class="w3-col m4">
            <div class="w3-card">
              <h5 class="w3-text-teal w3-center">Machines</h5>
              <ul class="w3-ul" id="machines">
              <%= f.collection_check_boxes :machine_ids, @machines, :id, :name do |b| %>
                <li>
                  <%= b.label class: "w3-small" do %>
                    <%= b.check_box class: "w3-check" %>
                    <%= b.text %>
                  <% end %>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
          <!-- Materials card -->
          <div class="w3-col m5">
            <div class="w3-card">
              <h5 class="w3-text-teal w3-center">Materialen</h5>
              <ul class="w3-ul" id="materials">
              <%= f.collection_check_boxes :material_ids, @materials, :id, :full_name do |b| %>
                <li>
                  <%= b.label class: "w3-small" do %>
                    <%= b.check_box class: "w3-check" %>
                    <%= b.text %>
                  <% end %>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
        </div>

        <% if @fabmoment.tags.any? %>
          <div id="tags" class="w3-margin-top">
            <%= render @fabmoment.tags, fabmoment: @fabmoment %>
          </div>
        <% end %>

        <br>
        <%= f.input_field :tag_names %>
        <%= f.label :tag_names %>
        <%= f.error :tag_names %>        

        <br><br>
        <!-- Zenden -->
        <div class="w3-center w3-margin-bottom">
          <%= f.button :button, class: "w3-btn w3-blue w3-center" %>
        </div>

      <% end %>

  </div>
</div>