<div class="w3-row-">
    <div class="w3-twothird" style="margin-left: 16.65%">

      <%= simple_form_for @fabmoment, html: {multipart: true} do |f| %>

      	<!-- Input -->
        <%= f.input_field :title %>
        <%= f.label :title %>
        <%= f.error :title %>
      	<%= f.input_field :description, rows: 7 %>
        <%= f.label :description %>
        <%= f.error :description %><br><br>
        <!-- Gallery -->

          <!-- Zoom -->
          <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
            <span class="w3-closebtn w3-hover-red w3-text-white w3-xxlarge w3-container w3-display-topright">&times;</span>
            <div class="w3-modal-content w3-animate-zoom">
              <img id="img01" style="width:100%">
            </div>
          </div>

        <!-- Upload picture -->
        <div class="w3-center">
          <%= f.label :pictures %>
          <%= file_field_tag 'images[]', type: :file, multiple: true %>
          <p>Geldige bestanden: .png .jpg .gif</p>
        </div>
        <br>

        <!-- Upload Project Files-->
        <div class="w3-center">
          <%= f.label :project_files %>
          <%= file_field_tag 'files[]', type: :file, multiple: true %>
          <p>Geldige bestanden: .stl .obj .doc .txt</p>
        </div>
        <br><br>

        <div class="w3-row-padding w3-margin-top">
          <!-- Programs card -->
          <div class="w3-col m3">
            <div class="w3-card">
              <h5 class="w3-text-teal w3-center">Programma's</h5>
              <ul class="w3-ul" id="programs">
              <%= f.collection_check_boxes :program_ids, @programs, :id, :name do |b| %>
                <li>
                  <%= b.label class: "w3-small" do %>
                    <%= b.check_box class: "w3-check" %>
                    <%= b.text %>
                  <% end %>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
        <div class="w3-row-padding w3-margin-top w3-margin-bottom">
          <!-- Machines card -->
          <div class="w3-col m4">
            <div class="w3-card">
              <h5 class="w3-text-teal w3-center">Machines</h5>
              <ul class="w3-ul" id="machines">
              <%= f.collection_check_boxes :machine_ids, @machines, :id, :name do |b| %>
                <li>
                  <%= b.label class: "w3-small" do %>
                    <%= b.check_box class: "w3-check" %>
                    <%= b.text %>
                  <% end %>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
          <!-- Materials card -->
          <div class="w3-col m5">
            <div class="w3-card">
              <h5 class="w3-text-teal w3-center">Materialen</h5>
              <ul class="w3-ul" id="materials">
              <%= f.collection_check_boxes :material_ids, @materials, :id, :full_name do |b| %>
                <li>
                  <%= b.label class: "w3-small" do %>
                    <%= b.check_box class: "w3-check" %>
                    <%= b.text %>
                  <% end %>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
        </div>

        <!-- Upload: Project Files -->
        <!-- Stored -->

        <!-- Upload -->
 

        <% if @fabmoment.tags.any? %>
          <div id="tags">
            <%= render @fabmoment.tags, fabmoment: @fabmoment %>
          </div>
        <% end %>

        <br>
        <%= f.input_field :tag_names %>
        <%= f.label :tag_names %>
        <%= f.error :tag_names %>

        <br><br>
        <!-- Creative Commons -->
        <%= f.collection_select(:license_id, License.all, :id, :title) %>
        <br><br>
        <!-- Source -->
        <%= f.input_field :source %>
        <%= f.label :source %>
        <br><br>
        <!-- Wat ging er goed/Wat ging er fout -->
        <%= f.input_field :gingGoed, rows: 4 %>
        <%= f.label :gingGoed %>
        
        <%= f.input_field :gingFout, rows: 4 %>
        <%= f.label :gingFout %>

        <%= f.input_field :kanBeter, rows: 4 %>
        <%= f.label :kanBeter %>




        <!-- Zenden -->
        <div class="w3-center w3-margin-bottom">
          <%= f.button :button, class: "w3-btn w3-blue w3-center" %>
        </div>

      <% end %>

  </div>
</div>
