<div class="w3-container w3-margin-top">
	<header class="w3-container">
		<h2 class="w3-center">Fablab Zeeland</h2>
    <img src="https://www.fablabs.io/media/W1siZiIsIjIwMTcvMDIvMjYvMTQvMDcvMTkvMGY4ZTViNmMtNDNiYi00MDljLTg2Y2UtN2Q0YmVkYjdhZTFiL0lNR183NTg1LkpQRyJdLFsicCIsInRodW1iIiwiMzAweDMwMCJdXQ/IMG_7585.JPG?sha=513c5a1bbc8e58bf">
			<div class="actions w3-margin-bottom">
				<div class="">			
				<%= form_tag search_fabmoments_path, 
						method: :get,
		        class: "w3-right" do %>
			        <%= text_field_tag "search", params[:search], class: "w3-form" %>
			        <%= submit_tag "Zoek", class: "w3-btn w3-indigo" %>
			  </div>
	      <% end %>
			</div>
	</header>
  <header>
    <%= link_to "Nieuw Fabmoment", new_fabmoment_path,
                class: "new w3-btn w3-green w3-margin-bottom"%>
  </header>
  <header>
    <%= link_to "Nieuw Reservatie", [:new, :admin, :reservation],
                class: "new w3-btn w3-purple w3-margin-bottom"%>
  </header>
  <header>
      <%= link_to "Nieuw Verhuur", [:new, :admin, :renting],
                  class: "new w3-btn w3-red w3-margin-bottom"%>
  </header>
	<div id="fabmoments" class="w3-row-padding w3-margin-top">
	  <% @fabmoments.each do |fabmoment| %>
	  	<%= link_to fabmoment do %>
		    <div class="w3-col m3">
			    <div class="w3-card-2 w3-hover-shadow w3-margin-bottom">
			    	<header class="w3-container w3-blue-grey w3-center">
			    		<h4><%= fabmoment.title %></h4>
						</header>
						<div class="w3-container">
							<% i=1 %>
							<% fabmoment.pictures.each do |p| %>x
								<% if i == 1 %>
									<img src="<%= p.image %>"  class="w3-container" style="height:130px">
									<% i += 1 %>
								<% end %>
							<% end %>
						</div>
					</div>
		  <% end %>
		  </div>
	  <% end %>
	</div>
</div>