<meta charset='utf-8' />
<link rel='stylesheet' href='https://fullcalendar.io/js/fullcalendar-3.4.0/fullcalendar.css' />
<script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
<script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://fullcalendar.io/js/fullcalendar-3.4.0/fullcalendar.min.js'></script>

<div class="w3-row-padding w3-margin-top">
  <div class="w3-col m5">
    <div class="w3-card w3-round-xxlarge">
      <% if true %>
      <%= render "fabmoments/favourite_gallery" %>
      <% end %>
    </div>
  </div>

  <div class="w3-col m7">
    <div class="w3-card w3-round-xxlarge">

          <div class="w3-bar w3-lime w3-right w3-round-xxlarge">
            <button class="w3-bar-item w3-button w3-text-white w3-hover-blue" onclick="openOverview('agenda')"><h3 class="w3-medium">Agenda.</h3></button>
            <button class="w3-bar-item w3-button w3-text-white w3-hover-blue" onclick="openOverview('open-inloop')"><h3 class="w3-medium">Open inloop.</h3></button>
          </div>

        <div id="agenda" class="tab w3-padding">
          <div id="calendar" class="w3-padding-xlarge w3-text-blue-gray">
            <%= render "events/calendar", events: @events %>
          </div>
          <td><%= link_to new_event_path, class:"new w3-btn w3-lime w3-margin-bottom w3-margin-top w3-round-xlarge w3-topbar w3-border-blue-gray w3-hover-blue"  do %>Nieuwe Reservering
                <i class="fa fa-plus" aria-hidden="true"></i>
            <% end %>
          </td>
        </div>

        <div id="open-inloop" class="tab" style="display:none">
          <%= render "admin/machines/machine_queue" %>
          <%= render "admin/machines/take_machines", machines: @machines %>
      </div>
    </div>
  </div>
</div>


          <div class="span12">
            <form id="custom-search-form" class="form-search form-horizontal pull-right">
              <div class="input-append span12">
                <%= form_tag search_fabmoments_path,
                    method: :get,
                    class: "w3-right-align" do %>
                  <%= text_field_tag "search", params[:search], class: "search-query mac-style fa fa-search w3-right" %>
                  <%= submit_tag "", class: "fa fa-search" %> <i class="icon-search"></i>
                <% end %>
              </div>
            </form>
          </div>


<div class="w3-center w3-margin-top w3-topbar w3-border-blue-grey">
  <%= render "fabmoments/fabmoments_gallery", fabmoments: @fabmoments %>
</div>
</div>

<script>
    function openOverview(tabName) {
        var i;
        var x = document.getElementsByClassName("tab");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(tabName).style.display = "block";
    }
</script>