<div class="w3-container w3-margin-top">
	<header class="w3-container">
		<h2 class="w3-center">Fabmomenten</h2>
		<% if current_user %>
			<div class="actions w3-margin-bottom">
				<%= link_to "Nieuw Fabmoment", new_fabmoment_path, 
							class: "new w3-left w3-btn w3-lime"%>

				<div class="">			
				<%= form_tag search_fabmoments_path, 
						method: :get,
		        class: "w3-right" do %>
			        <%= text_field_tag "search", params[:search], class: "w3-form" %>
			        <%= submit_tag "Zoek", class: "w3-btn w3-indigo" %>
			  </div>
	      <% end %>
			</div>
		<% end %>
	</header>
	 
	<div id="fabmoments" class="w3-row-padding w3-margin-top">
	  <% @fabmoments.each do |fabmoment| %>
	  	<%= link_to fabmoment do %>
		    <div class="w3-col m3">
			    <div class="w3-card-2 w3-hover-shadow w3-margin-bottom">
			    	<header class="w3-container w3-blue-grey w3-center">
			    		<h4><%= fabmoment.title %></h4>
						</header>
						<div class="w3-container">
							<% i=1 %>
							<% fabmoment.pictures.each do |p| %>x
								<% if i == 1 %>
									<img src="<%= p.image %>"  class="w3-container" style="height:130px">
									<% i += 1 %>
								<% end %>
							<% end %>
						</div>
					</div>
		  <% end %>
		  </div>
	  <% end %>
	</div>
</div>