<% title(@fabmoment.title, "Fabmoments") %>

<div class="w3-row">
	<div class="w3-twothird" style="margin-left: 16.65%">

		<header class="w3-center w3-bottombar w3-border-blue-grey">
			<h1><%= @fabmoment.title %></h1>
			<p class="w3-text-pink">
				Door
				<b class="w3-btn w3-pink w3-padding-tiny w3-padding-left w3-padding-right">
					<%= link_to @fabmoment.author.username, user_path(@fabmoment.author) %>
				</b>
				<%= " aangemaakt #{time_ago_in_words(@fabmoment.created_at)} geleden" %>
				<!-- De fout in bovenstaande link_to zit hem erin dat je als admin 
						 naar admin_user_path zou moeten gaan, tenzij je geen admin namespace
						 gebruikt en alles met één controller + pundit regelt. -->
			</p>
		</header>

		<p><%= @fabmoment.description %></p>

		<!-- Gallery -->
		<div id="images">
			<div class="w3-row-padding">
				<% @fabmoment.images.each do |i| %>
				  <div class="w3-container w3-quarter">
				    <img src="<%= i.url%>" style="width:100%;cursor:pointer"
				    onclick="onClick(this)" class="w3-hover-opacity">
				  </div>
				<% end %>
			</div>
		</div>
		<!-- Gallery: Zoom -->
		<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
		  <span class="w3-closebtn w3-hover-red w3-text-white w3-xxlarge w3-container w3-display-topright">&times;</span>
		  <div class="w3-modal-content w3-animate-zoom">
		    <img id="img01" style="width:100%">
		  </div>
		</div>

		<div class="w3-row-padding w3-margin-top">
		<% if @fabmoment.programs.any? %>
			<div class="w3-col m3">
        <div class="w3-card">
          <h5 class="w3-center">Programma's</h5>
          <ul id="programs">
						<% @fabmoment.programs.each do |program| %>
							<p><%= program.name %></p>
						<% end %>
					</ul>
				</div>
			</div>
		<% end %>
		<% if @fabmoment.machines.any? %>
			<div class="w3-col m4">
        <div class="w3-card">
          <h5 class="w3-center">Machines</h5>
          <ul id="machines">
						<% @fabmoment.machines.each do |machine| %>
							<p><%= machine.name %></p>
						<% end %>
					</ul>
				</div>
			</div>
		<% end %>
		<% if @fabmoment.materials.any? %>
			<div class="w3-col m5">
        <div class="w3-card">
          <h5 class="w3-center">Materialen</h5>
          <ul id="materials">
						<% @fabmoment.materials.each do |material| %>
							<p><%= material.full_name %></p>
						<% end %>
					</ul>
				</div>
			</div>
		<% end %>
		</div>

		<!-- Fabmoment model moet de project files scopen, vergelijkbaar 
				 met de persisted method in het Comment model.
				 Vind in de console uit hoe deze scope eruit moet zien. -->
		<% if @fabmoment.project_files.any? %>
			<div id="attachments" class="w3-container w3-margin-large">
				<h5 class="w3-center">Project Bestanden</h5>
					<ul class="w3-ul">
					<% @fabmoment.project_files.each_with_index do |project_file, index| %>
						<%= render 'project_files/project_file', fabmoment: @fabmoment, 
																										 project_file: project_file, 
																										 index: index %>
					<% end %>
					</ul>
			</div>
		<% end %>

		<% if @fabmoment.tags.any? %>
			<div id="tags" class="w3-margin-top">
				<%= render @fabmoment.tags, fabmoment: @fabmoment %>
			</div>
		<% end %>

		<footer class="w3-center w3-bottombar w3-border-blue-grey w3-padding-xlarge">
			<br>
			<% if policy(@fabmoment).update? %>
				<%= link_to "Bijwerken Fabmoment", [:edit, @fabmoment],  
								class: "edit w3-btn w3-amber" %>
			<% end %>
			<% if policy(@fabmoment).destroy? %>
				<%= link_to "Verwijder Fabmoment", [@fabmoment], 
								method: :delete, 
								data: { confirm: "Weet je zeker dat je het fabmoment wil verwijderen?"},
								class: "delete w3-btn w3-amber" %>
			<% end %>
		</footer>

		<div id="comments" class="w3-half w3-margin-top" style="margin-left: 25%">
			<% if @fabmoment.comments.persisted.any? %>
				<%= render @fabmoment.comments.persisted, fabmoment: @fabmoment %>
			<% else %>
				<p class="w3-text-dark-grey w3-padding w3-center">
					Er zijn geen commentaren op dit fabmoment.
				</p>
			<% end %>
			<% if policy(@fabmoment).comment? %>
				<%= render 'comments/form', fabmoment: @fabmoment, 
																		comment: @comment %>
			<% end %>
		</div>
	</div>
</div>


<!-- Dit stukje moet naar fabmoments.coffee als coffeescript ! -->
<script>
	function onClick(element) {
	  document.getElementById("img01").src = element.src;
	  document.getElementById("modal01").style.display = "block";
	}
</script>

