<% title(@fabmoment.title, "Fabmoments") %>

<div class="w3-row">
	<div class="w3-twothird" style="margin-left: 16.65%">

		<header>
			<h1 class="w3-center"><%= @fabmoment.title %></h1>
		</header>

		<p><%= @fabmoment.description %></p>

		<div class="w3-row-padding w3-margin-top">
		<% if @fabmoment.machines.any? %>
			<div class="w3-col m4">
        <div class="w3-card">
          <h5 class="w3-center">Machines</h5>
          <ul id="machines">
						<% @fabmoment.machines.each do |machine| %>
							<p><%= machine.name %></p>
						<% end %>
					</ul>
				</div>
			</div>
		<% end %>

		<% if @fabmoment.materials.any? %>
			<div class="w3-col m5">
        <div class="w3-card">
          <h5 class="w3-center">Materialen</h5>
          <ul id="materials">
						<% @fabmoment.materials.each do |material| %>
							<p><%= "#{material.name} #{material.sort} #{material.thickness}mm" %></p>
						<% end %>
					</ul>
				</div>
			</div>
		<% end %>
		</div>

		<footer class="w3-center">
			<br>
				<% if current_user %>
					<%= link_to "Bijwerken Fabmoment", [:edit, @fabmoment],  
																							class: "edit w3-btn w3-amber" %>
					<% if current_user.admin? %>
						<%= link_to "Verwijder Fabmoment", [@fabmoment], 
																								method: :delete, 
																								data: { confirm: "Weet je zeker dat je het fabmoment wil verwijderen?"},
																								class: "delete w3-btn w3-amber" %>
				<% end %>
			<% end %>
		</footer>
	</div>
</div>
