<% title("Gebruikers", "Admin") %>

<div class="w3-container w3-margin-top">
	<header class="w3-center">
		<h2>Gebruikers</h2>
		<% if current_user %>
			<ul class="actions w3-ul">
				<li><%= link_to "Nieuwe Gebruiker", new_admin_user_path, 
								class: "new w3-btn w3-lime w3-margin-bottom"%></li>
			</ul>
		<% end %>
	</header>
	 
	<div id="users" class="w3-row-padding w3-margin-top">
	  
	  <% @users.each do |user| %>
	    <div class="w3-col m2">
		    <%= link_to [:admin, user] do %>
			    <div class="w3-card-2 w3-hover-shadow w3-margin-bottom">
			    	<header class="w3-container w3-padding-tiny w3-blue-grey w3-text-white w3-center">
			    		<h6><%= user.username %><%= " (Admin)" if user.admin? %></h6>
						</header>
						<!-- <div class="w3-container"> -->
						<img src="<%= user.avatar.url unless user.avatar.file?.nil? %>" style="width:100%">
			
						<!-- </div> -->
					</div>
			  <% end %>
		  </div>
	  <% end %>

	</div>
</div>
