<div class="">
  <% @machines.each do |machine| %>
      <li><%= machine.name%></li>
      <li>Capaciteit: <%= machine.capacity%></li>
      <li>Usage<%= machine.usage %></li>
      <% if machine.usage_duration %>
        <li><%= distance_of_time_in_words(machine.usage_duration.duration) %></li>
        <li><%= machine.usage_duration.user.username %></li>
      <% end %>
      <br>
  <% end %>
</div>

<div class="">
  <% @machines.each do |machine| %>
      <h5><%= machine.name%></h5>
      <% (machine.capacity - machine.usage).times do %>
          <div>M</div>
      <% end %>
      <% (machine.usage).times do %>
          <div><b>M</b></div>
      <% end %>

<% end %>
</div>