<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<html>
  <head>
  <%= favicon_link_tag 'favicon (3).ico' %>
	<title><% if content_for?(:title) %><%= yield(:title) %>
		<% else %>FabLab<% end %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="container-fluid">
  	<ul class="w3-navbar navdropbtn w3-large w3-card-8">
			<li class="<% "active" if current_page?("/") %>">
				<%= link_to "Home", root_path,
															class: "w3-hover-text-light-blue w3-hover-white" %>
			</li>

      <li class="<% "active" if current_page?("/") %>">
        <%= link_to "Contact", root_path,
                    class: "w3-hover-text-light-blue w3-hover-white" %>
      </li>

      <li class="w3-dropdown-hover navdropdown">
        <%= link_to "Fabmomenten <i class='fa fa-caret-down'></i>".html_safe, style="",
                    class: "navdropbtn" %>
        <div class="w3-dropdown-content navdropdown-content">
          <%= link_to 'Gallerij', root_path %>
          <%= link_to 'Nieuw Fabmoment', new_fabmoment_path %>
        </div>
      </li>

      <% if user_signed_in? %>
          <li class="<% "active" if current_page?("/") %>">
            <%= link_to "Open Inloop", admin_root_path,
                        class: "w3-hover-white w3-hover-text-light-blue" %>
          </li>
      <% end %>
      <li class="<% "active" if current_page?("/") %>">
        <%= link_to "Agenda", events_path,
                    class: "w3-hover-white w3-hover-text-light-blue" %>
      </li>
			<% admins_only do %>
			<li class="<% "active" if current_page?("/") %>">
				<%= link_to "Admin", admin_root_path,
														 class: "w3-hover-white w3-hover-text-light-blue" %>
			</li>
			<% end %>
			<% if user_signed_in? %>
			<% end %>
			<% unless user_signed_in? %>
				<li class="<% "active" if current_page?("users/sign_up") %> w3-right">
					<%= link_to "Registeren", 	new_user_registration_path,
																			class: "w3-hover-white w3-hover-text-light-blue" %>
          <i class="fa fa-user fa-3x" aria-hidden="true"></i>
				</li>
				<li class="<% "active" if current_page?("users/sign_in") %> w3-right">
					<%= link_to "Inloggen", new_user_session_path,
																	class: "w3-hover-white w3-hover-text-light-blue" %>
				</li>
			<% end %>

			<% if user_signed_in? %>
        <div class='w3-right'>
          <li class='w3-padding'>
            <small style="color: white">Ingelogd als: </small>
          </li>
          <li class="w3-dropdown-hover navdropdown">
            <%= link_to "#{current_user.username} <i class='fa fa-caret-down'></i>".html_safe,
                class: "#{active if current_page?("users/sign_in")} navdropbtn" %>
            <div class="w3-dropdown-content navdropdown-content w3-card-4">
              <%= link_to 'Profiel', user_path(current_user) %>
              <%= link_to 'Instellingen', user_path(current_user) %>
              <%= link_to "Log uit", 	destroy_user_session_path,
                                method: :delete,
                                class: "w3-hover-red w3-hover-text-dark-grey" %>
            </div>
          </li>
        </div>
			<% end %>
		</ul>

		<% flash.each do |key, message| %>
			<!-- De kleur: Is de melding gelijk aan type "notice"? dan groen : anders rood -->
			<% color = key == "notice" ? "pale-green" : "red" %>
			<!-- De melding -->
			<div class="alert alert-<%= key %> w3-container w3-<%= color %>">
		  	<span class="w3-closebtn" onclick="this.parentElement.style.display='none'"><i class="fa fa-times" aria-hidden="true"></i></span>
				<p><%= message %></p>
			</div>
		<% end %>
    <%= yield %>

  </body>


  <footer class="mt-5">
    <div class="container-fluid w3-dark-gray py-3">
      <div class="container">
        <div class="row py-3">
          <div class="col w3-text-white">
            <p class="text-white">
            <ul>
            <li>website www.dezb.nl/fablabzeeland</li>
            <li>e-mail info@fablabzeeland.com</li>
            <li>telefoonnummer 0118-654217</li>
            <li>cursussen klik hier!</li>
            </ul>
            </p>
          </div>

          <div class="col">
            <div class="d-inline-block">
              <div class="bg-circle bg-primary">
                <a href="https://www.facebook.com/fablabzeeland?lang=nl" class="text-white"><i class="fa fa-2x fa-fw fa-facebook"></i>
                </a>
              </div>
              <div class="bg-circle bg-info">
                <a href="https://twitter.com/fablabzeeland?lang=nl" class="text-white">
                  <i class="fa fa-2x fa-fw fa-twitter"></i></a>
              </div>
              <div class="bg-primary w3-button w3-round">
                <a href="https://nl.linkedin.com/topic/fablab" class="text-white">
                  <i class="fa fa-fw fa-linkedin fa-2x" aria-hidden="true"></i></a>
              </div>
            </div>
            </div>
           <div class="col">
            <div class="w3-container">
              <h2>Fabsheets.</h2>
              <div class="bg-circle bg-danger">
                <a onclick="document.getElementById('id01').style.display='block'" class="text-white">
                  <i class="fa fa-2x fa-fw fa-file-pdf-o"></i></a>
              </div>
              <div id="id01" class="w3-modal">
                <div class="w3-modal-content">
                  <div class="w3-container w3-text-black">
                    <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright w3-text-black">&times;</span>
                    <h1>Wat zijn FabSheets?</h1>
                    <ul>FabSheets zijn werkdocumenten die bedoeld zijn om de bezoekers van het FabLab wegwijs te maken in het FabLab en de machines. Zo kunnen bezoekers zelfstandig beginnen.</ul>
                    <ul>
                      <li><a href="https://www.dezb.nl/dam/bestanden/fablab/Fabsheet%20Hoe%20werkt%20het%20FabLab%202016.pdf">FabSheet Hoe werkt het FabLab</a></li>
                      <li>FabSheet Prijslijst materialen</li>
                      <li>FabSheet Lasersnijder</li>
                      <li>FabSheet 3D-printer</li>
                      <li>FabSheet Vinylsnijder</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

</html>
