<!DOCTYPE html>
<html>
  <head>
	<title><% if content_for?(:title) %><%= yield(:title) %>
		<% else %>FabLab<% end %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<ul class="w3-navbar w3-blue w3-large">
			<li><%= link_to "FabLab", root_path, class: "w3-hover-text-pink" %></li>
		</ul>

		<% flash.each do |key, message| %>
			<% color = key == "notice" ? "green" : "red" %>
			<div class="w3-container alert alert-<%= key %> w3-<%= color %>">
		  	<span class="w3-closebtn" onclick="this.parentElement.style.display='none'">X</span>
				<p><%= message %></p>
			</div>
		<% end %>

    <%= yield %>
  </body>
</html>
