<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="imgmachine">
  <img src="/assets/LogoZB.png">
  <img src="/assets/FablabMachines.jpg">
</div>

<html>
  <head>
  <%= favicon_link_tag 'favicon (3).ico' %>
	<title><% if content_for?(:title) %><%= yield(:title) %>
		<% else %>FabLab<% end %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>





  <body class="container-fluid">
  <div class=""></div>
  	<ul class="w3-navbar navdropbtn w3-large w3-card-8">
			<li class="<% "active" if current_page?("/") %>">
				<%= link_to "Home", root_path,
															class: "w3-hover-text-light-blue w3-hover-white" %>
			</li>

      <li class="w3-dropdown-hover navdropdown">
        <%= link_to "Contact <i class='fa fa-caret-down'></i>".html_safe, style="",
                    class: "navdropbtn" %>
        <div.hovercolour class="w3-dropdown-content navdropdown-content">
          <%= link_to 'FAQ', information_index_path%>
          <%= link_to 'Organiseren', information_index_path%>
        </div.hovercolour>
      </li>

      <li class="w3-dropdown-hover navdropdown">
        <%= link_to "Fabmoment <i class='fa fa-caret-down'></i>".html_safe, style="",
                    class: "navdropbtn" %>
        <div class="w3-dropdown-content navdropdown-content">
          <%= link_to 'Gallerij', root_path %>
          <%= link_to 'Nieuw Fabmoment', new_fabmoment_path %>
        </div>
      </li>

      <li class="<% "active" if current_page?("/") %>">
        <%= link_to "Doe mee!", new_admin_occupation_path,
                    class: "w3-hover-white w3-hover-text-light-blue"%>
      </li>
      <li class="<% "active" if current_page?("/") %>">
        <%= link_to "Agenda", events_path,
                    class: "w3-hover-white w3-hover-text-light-blue" %>
      </li>
			<% admins_only do %>
			<li class="<% "active" if current_page?("/") %>">
				<%= link_to "Admin", admin_root_path,
														 class: "w3-hover-white w3-hover-text-light-blue" %>
			</li>
			<% end %>
			<% if user_signed_in? %>
			<% end %>
			<% unless user_signed_in? %>
				<li class="<% "active" if current_page?("users/sign_up") %> w3-right">
					<%= link_to "Inschrijven", 	new_user_registration_path,
																			class: "w3-hover-white w3-hover-text-light-blue" %>
				</li>
				<li class="<% "active" if current_page?("users/sign_in") %> w3-right">
					<%= link_to "Inloggen", new_user_session_path,
																	class: "w3-hover-white w3-hover-text-light-blue" %>
				</li>
			<% end %>

			<% if user_signed_in? %>
        <div class='w3-right'>
          <li class='w3-padding'>
            <small style="color: white">Ingelogd als: </small>
          </li>
          <li class="w3-dropdown-hover navdropdown">
            <%= link_to "#{current_user.username} <i class='fa fa-caret-down'></i>".html_safe,
                class: "#{active if current_page?("users/sign_in")} navdropbtn" %>
            <div class="w3-dropdown-content navdropdown-content w3-card-4">
              <%= link_to 'Profiel', user_path(current_user) %>
              <%= link_to 'Instellingen', user_path(current_user) %>
              <%= link_to "Log uit", 	destroy_user_session_path,
                                method: :delete,
                                class: "w3-hover-red w3-hover-text-dark-grey" %>
            </div>
          </li>
        </div>
			<% end %>
		</ul>

		<% flash.each do |key, message| %>
			<!-- De kleur: Is de melding gelijk aan type "notice"? dan groen : anders rood -->
			<% color = key == "notice" ? "pale-green" : "red" %>
			<!-- De melding -->
			<div class="alert alert-<%= key %> w3-container w3-<%= color %>">
		  	<span class="w3-closebtn" onclick="this.parentElement.style.display='none'">X</span>
				<p><%= message %></p>
			</div>
		<% end %>
    <%= yield %>

  </body>


  <footer class="mt-5">
    <div class="container-fluid mt-5">
      <div class="container">
        <div class="row py-3">
          <!-- footer column 1 start -->
          <div class="col-md-4">
            <!-- row start -->
            <!--<div class="row py-2">-->
              <!--<div class="col-sm-3 hidden-md-down">-->
                <!--<a class="bg-circle bg-info" href="https://twitter.com/ ">-->
                  <!--<i class="fa fa-2x fa-fw fa-twitter" aria-hidden="true "></i>-->
                <!--</a>-->
              <!--</div>-->
              <!--<div class="col-sm-9">-->
                <!--<h4>Tweets</h4>-->
                <!--Embed here?-->
              <!--</div>-->
            <!--</div>-->
            <!-- row end -->
          </div>
          <!-- footer column 1 end -->
          <!-- footer column 2 start -->
          <div class="col-md-4">
            <!-- row start -->
            <div class="row py-2">
              <div class="col-sm-3 hidden-md-down">
                <a class="bg-circle bg-info" href="#">
                  <i class="fa fa-2x fa-fw fa-address-card" aria-hidden="true "></i>
                </a>
              </div>
              <div class="col-sm-9">
                <h4>Contact us</h4>
                <p>Why not?</p>
              </div>
            </div>
            <!-- row end -->
            <!-- row start -->
            <div class="row py-2">
              <div class="col-sm-3 hidden-md-down">
                <a class="bg-circle bg-info" href="#">
                  <i class="fa fa-2x fa-fw fa-laptop" aria-hidden="true "></i>
                </a>
              </div>
              <div class="col-sm-9">
                <h4>Cookie policy</h4>
                <p class=" ">We use <a class=" " href="/# ">cookies </a></p>
              </div>
            </div>
            <!-- row end -->
          </div>
          <!-- footer column 2 end -->
          <!-- footer column 3 start -->
          <div class="col-md-4">
            <!-- row starting  -->
            <div class="row py-2">
              <div class="col-sm-3 hidden-md-down">
                <a class="bg-circle bg-danger" href="# ">
                  <i class="fa fa-2x fa-fw fa-file-pdf-o" aria-hidden="true "></i>
                </a>
              </div>
              <div class="col-sm-9">
                <h4>Download pdf</h4>
                <p> You like print?</p>

              </div>
            </div>
            <!-- row ended -->
            <!-- row starting  -->
            <div class="row py-2">
              <div class="col-sm-3 hidden-md-down">
                <a class="bg-circle bg-info" href="https://twitter.com/ ">
                  <i class="fa fa-2x fa-fw fa-info" aria-hidden="true "></i>
                </a>
              </div>
              <div class="col-sm-9">
                <h4>Info</h4>
                About us.
              </div>
            </div>
            <!-- row ended -->
          </div>
          <!-- footer column 3 end -->
        </div>
      </div>
    </div>


    <div class="container-fluid bg-primary py-3">
      <div class="container">
        <div class="row py-3">
          <div class="col-md-9">
            <p class="text-white">Lorem ipsum.</p>
          </div>
          <div class="col-md-3">
            <div class="d-inline-block">
              <div class="bg-circle-outline d-inline-block">
                <a href="https://www.facebook.com/" class="text-white"><i class="fa fa-2x fa-fw fa-facebook"></i>
                </a>
              </div>

              <div class="bg-circle-outline d-inline-block">
                <a href="https://twitter.com/" class="text-white">
                  <i class="fa fa-2x fa-fw fa-twitter"></i></a>
              </div>

              <div class="bg-circle-outline d-inline-block">
                <a href="https://www.linkedin.com/company/" class="text-white">
                  <i class="fa fa-2x fa-fw fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

</html>
